section { background-image: url("/image/data3.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;;
}
.form{margin-top: 10%;
    margin-left: 25%;
}
h1 {margin-left: 270px;
margin-bottom: 30px;
color: white;
}
.file{
    margin-left: 23%;
    margin-top: 60px;
}
.button{
    margin-left: 220px;
    margin-top: 20px;
}
